<link type="text/css" href="/OrderPortal/public/stylesheets/style.css" />
<p> Welcome <%= user.name %></p>
<div class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/index/dashboard">Home</a>
    <a href="/orders/GetOrders">Today's Orders</a>
    <a href="/index/dashboard">Search Orders</a>
    <a href="/orders/orderReport">Reports</a>
    <a href="/index/dashboard">Users</a>
    <a href="/users/login">log out</a>
  </div>

  <div class="FormContent">
  <label for="start">Start date:</label>

  <input type="date" id="start" name="trip-start"  min="2016-01-01">

  <label for="end">End date:</label>

    <input type="date" id="end" name="trip-end"  min="2016-01-01">
    <button id="FilteredOrdersButton" type="submit" class="btn btn-primary btn-block">Get orders</button> 

    <div>
      <label for="orderID">Order ID:</label>

      <input id="orderID" name="orderID" >
      <button id="SearchOrderButton" type="submit" class="btn btn-primary btn-block">Get specific order #</button> 
    </div>
   
  </div>
  </div>

 
  
  <!-- Use any element to open the sidenav -->
  <span onclick="openNav()">open</span>

<style> 
 body {
  font-family: "Lato", sans-serif;
}
.FormContent
{
  margin-left: 25%;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<script>
  document.getElementById("FilteredOrdersButton").onclick = function() {
    var from = document.getElementById("start").value;
    var to = document.getElementById("end").value;
    window.location.href = '/orders/GetOrders/' + from + '/' + to +'/';
  };

  document.getElementById("SearchOrderButton").onclick = function() {
    var orderId = document.getElementById("orderID").value;
    window.location.href = '/orders/GetOrders/' + orderId + '/';
  };
</script>