<p> wrong user or password</p>

<form action="/users/login" method="GET">
    <button type="submit" class="btn btn-primary btn-block">Return</button>    
</form>

<style> 
    button{
      font-family: 'Karla', sans-serif;
      background-color: #150131 !important;
      border: none;
      color: white !important;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      margin: 4px 4px 4px 4px;
      cursor: pointer;
      border-radius: 20px;
     }
    </style>