<html>
<table id="orderTable" class="table table-inverse">
    <thead>
      <tr>
        <th>order</th>
        <th>user</th> 
        <th>comment</th>     
        <th>date</th>       
      </tr>
    </thead>
  
    <tbody>
      <% for(var i=0; i < orderCommments.length; i++) { %>
      <tr>
        <td><a href=""><%= orderCommments[i].orderId %></a></td>
        <td><%= orderCommments[i].userName %>&nbsp; &nbsp; &nbsp; </td>
        <td><%= orderCommments[i].comment %>&nbsp; &nbsp; &nbsp; </td>
        <td><%= orderCommments[i].date %>&nbsp; &nbsp; &nbsp; </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  </html>