<form action="/index/dashboard" method="GET">
  <button type="submit" class="btn btn-primary btn-block">Return</button>    
</form>
<input type="text" id="orderSearchInput" onkeyup="searchTable()" placeholder="Search for Order name..">
<table id="orderTable" class="table table-inverse">
    <thead>
      <tr>
        <th>order name</th>
        <th>id</th> 
        <th>name</th>        
        <th>customer email</th>
      </tr>
    </thead>
  
    <tbody>
      <% for(var i=0; i < ordersList.length; i++) { %>
      <tr>
        <td><a href="/orders/GetOrders/<%= ordersList[i].name %>/"><%= ordersList[i].name %></a></td>
        <td><%= ordersList[i].id %>&nbsp; &nbsp; &nbsp; </td>
        <td><%= ordersList[i].line_items[0].title %> &nbsp; &nbsp; &nbsp; </td>
        <td><%= ordersList[i].customer.email %></td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <style>
    * {
      box-sizing: border-box;
    }
    
    #orderSearchInput {
      background-image: url('/css/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
    
    #orderTable {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
      font-size: 18px;
    }
    
    #orderTable th, #orderTable td {
      text-align: left;
      padding: 12px;
    }
    
    #orderTable tr {
      border-bottom: 1px solid #ddd;
    }
    
    #orderTable tr.header, #orderTable tr:hover {
      background-color: #f1f1f1;
    }
    </style>

  <script>
    function searchTable() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("orderSearchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("orderTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>

<style> 
  button{
    font-family: 'Karla', sans-serif;
    background-color: #150131 !important;
    border: none;
    color: white !important;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin: 4px 4px 4px 4px;
    cursor: pointer;
    border-radius: 20px;
   }
  </style>