<p> Welcome <%= user.name %></p>
<form action="/orders/GetOrders" method="GET">
    <button type="submit" class="btn btn-primary btn-block">Get Orders</button>    
</form>

<style> 
    input[type=email], input[type=password] {
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('searchicon.png');
      background-position: 10px 10px; 
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
    }
  
    button{
      font-family: 'Karla', sans-serif;
      background-color: #150131 !important;
      border: none;
      color: white !important;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      margin: 4px 4px 4px 4px;
      cursor: pointer;
      border-radius: 20px;
     }
    </style>