<div class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/index/dashboard">Home</a>
    <a href="/orders/GetOrders">Today's Orders</a>
    <a href="/index/dashboard">Search Orders</a>
    <a href="/orders/orderReport">Reports</a>
    <a href="/index/dashboard">Users</a>
    <a href="/users/login">log out</a>
  </div>
<div class="FormContent">
  <div class="OrderDetailsSection">
    <label for="OrderDetailsStart">Start date:</label>
  
    <input type="date" id="OrderDetailsStart" name="trip-start"  min="2016-01-01">
  
    <label for="OrderDetailsEnd">End date:</label>
  
      <input type="date" id="OrderDetailsEnd" name="trip-end"  min="2016-01-01">
      <button id="FilteredReportButton" type="submit" class="btn btn-primary btn-block">Get report</button>
    </div>
    <div class="ProductSales">
      <label for="ProductSalesstart">Start date:</label>
  
      <input type="date" id="ProductSalesStart" name="trip-start"  min="2016-01-01">
  
      <label for="ProductSalesend">End date:</label>
  
      <input type="date" id="ProductSalesEnd" name="trip-end"  min="2016-01-01">
      <button id="FilteredProductSalesButton" type="submit" class="btn btn-primary btn-block">Get ProductSales</button>
    </div>
    <div class="ProductSales">
      <label for="InventoryStart">Start date:</label>
  
      <input type="date" id="InventoryStart" name="trip-start"  min="2016-01-01">
  
      <label for="InventoryEnd">End date:</label>
  
      <input type="date" id="InventoryEnd" name="trip-end"  min="2016-01-01">
      <button id="FilteredInventoryButton" type="submit" class="btn btn-primary btn-block">Get Inventory</button>
    </div>
      <!-- <div>
        <label for="orderID">Order ID:</label>
  
        <input id="orderID" name="orderID" >
        <button id="SearchOrderButton" type="submit" class="btn btn-primary btn-block">Get specific order #</button> 
      </div> -->
     
    </div>
    <div class="loader"></div>

    <style> 
        body {
         font-family: "Lato", sans-serif;
       }
       .FormContent
       {
         margin-left: 25%;
       }
       .sidenav {
         height: 100%;
         width: 160px;
         position: fixed;
         z-index: 1;
         top: 0;
         left: 0;
         background-color: #111;
         overflow-x: hidden;
         padding-top: 20px;
       }
       
       .sidenav a {
         padding: 6px 8px 6px 16px;
         text-decoration: none;
         font-size: 25px;
         color: #818181;
         display: block;
       }
       
       .sidenav a:hover {
         color: #f1f1f1;
       }
       
       .main {
         margin-left: 160px; /* Same as the width of the sidenav */
         font-size: 28px; /* Increased text to enable scrolling */
         padding: 0px 10px;
       }
       
       @media screen and (max-height: 450px) {
         .sidenav {padding-top: 15px;}
         .sidenav a {font-size: 18px;}
       }

       .loader {
        display: none;
        margin-top: 30px;
        margin-left: 50%;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }

      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
       </style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

    $(window).on("load",function()
      {
        $('.loader').hide();
      });

    document.getElementById("FilteredReportButton").onclick = function() {      
      var from = document.getElementById("OrderDetailsStart").value;
      var to = document.getElementById("OrderDetailsEnd").value;
      $('.loader').show();
      window.location.href = '/orders/GetReport/' + from + '/' + to +'/';
    };

    document.getElementById("FilteredProductSalesButton").onclick = function() {      
      var from = document.getElementById("ProductSalesStart").value;
      var to = document.getElementById("ProductSalesEnd").value;
      $('.loader').show();
    //   $.ajax({
    //   type: "GET",
    //   url: window.location.origin + '/orders/GetReport/' + from + '/' + to +'/',
    //   cache: false,
    //   success: function (result) {
    //     console.log(result);
    //     $('.loader').hide();
    //   },
    //   error:function (error) {
    //       alert("error, please login again");
    //       window.location.href = window.location.origin + '/login';
    //   }
    // });
      window.location.href = '/orders/GetProductSales/' + from + '/' + to +'/';
    };

    document.getElementById("FilteredInventoryButton").onclick = function() {
      $('.loader').show();
      window.location.href = '/orders/GetInventory/';
    };
    
    // document.getElementById("SearchOrderButton").onclick = function() {
    //   var orderId = document.getElementById("orderID").value;
    //   window.location.href = '/orders/GetOrders/' + orderId + '/';
    // };

  </script>