<textarea placeholder="Notes" id="orderComments" rows="10" cols="50"></textarea>
<form action="/orders/GetOrders" method="GET">
  <button type="submit" class="btn btn-primary btn-block">Return</button>    
  <button id="confirmOrder" type="submit" class="btn btn-primary btn-block">Add Notes</button>       
</form>
<table id="orderTable" class="table table-inverse">
  <thead>
    <tr>
      <th>order number</th>    
      <th>Box</th>   
      <th>description</th>     
      <th>Shipping address</th>  
    </tr>
  </thead>

  <tbody>
    <% for(var i=0; i < orderDetails.length; i++) { %>
      <% var properties = ''  %>
      <% for(var j=0; j < orderDetails[i].line_items[0].properties.length; j++) { %>
        <%  properties += orderDetails[i].line_items[0].properties[j].value + ' '  %>
        <% } %>
    <tr>
      <td><a href=""><%= orderDetails[i].name %></a></td>
      <td style="width: 553px;">        
     
      <img src="<%= orderDetails.productData[0].imageUrl %>" width="100" height="100">          
          <label><%= orderDetails.productData[0].description %></label>  
                             
      </td>
      <td><%= properties %> &nbsp; &nbsp; &nbsp;                         
      </td>
      <td>
        <li>
        Adress: <%= orderDetails[i].shipping_address.address1 %> &nbsp; &nbsp; &nbsp;
      </li> 
      <li>           
        City: <%= orderDetails[i].shipping_address.city %> &nbsp; &nbsp; &nbsp;
      </li>
        <li>
        ZIP: <%= orderDetails[i].shipping_address.zip %> &nbsp; &nbsp; &nbsp;
      </li>
        <li>
        Province: <%= orderDetails[i].shipping_address.province %> &nbsp; &nbsp; &nbsp;
      </li>
        <li>
        Country: <%= orderDetails[i].shipping_address.country %> &nbsp; &nbsp; &nbsp;
      </li>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
<%if (orderComments[0] != null && orderComments[0].cardWritten) { %>
<label><input checked type="checkbox" id="cboxCard" value="first_checkbox"> Card Written</label><br>
<% } else{ %> 
  <label><input type="checkbox" id="cboxCard" value="first_checkbox"> Card Written</label><br>
<% } %>

<%if (orderComments[0] != null && orderComments[0].boxFullfilled) { %>
<label><input checked type="checkbox" id="cboxFullfilled" value="first_checkbox"> Box Fullfilled </label><br>
<% } else{ %> 
  <label><input type="checkbox" id="cboxFullfilled" value="first_checkbox"> Box Fullfilled </label><br>
<% } %>
<table id="ProductsTable" class="table table-inverse">
  <thead>
    <tr>
      <th>Item Details</th>         
    </tr>
  </thead>
  <tbody>
    <td style="width: 553px;">
    <% for(var j= 0; j < orderDetails.productData.length - 3; j++) { %>
      <li>
      <img src="<%= orderDetails.productData[j].imageUrl %>" width="100" height="100">          
      <label><%= orderDetails.productData[j].description %></label>  
    </li>         
      <% } %> 
    </td>
</table>

<table id="CardTable" class="table table-inverse">
  <thead>
    <tr>
      <th>Card Details</th>         
    </tr>
  </thead>
  <tbody>
    <td style="width: 553px;">
   
      <% var index = orderDetails.productData.length - 1  %>
      <img src="<%= orderDetails.productData[index].imageUrl %>" width="100" height="100">          
      <label><%= orderDetails.productData[index].description %></label></br>   
      <label>From: <%= card[1].From %></label></br>  
      <label>Message: <%= card[0].Message %></label></br>   
             
    </td>
</table>

<table id="CommentsTable" class="table table-inverse">
  <thead>
    <tr>
      <th>Comments</th> 
      <th>Date</th>
      <th>Created By</th>           
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < orderComments.length; i++) { %>
    <tr>
      <td><%= orderComments[i].comment%></td>    
      <td><%= orderComments[i].date%></td> 
      <td><%= orderComments[i].createdBy%></td>   
    </tr>
    <% } %>
</table>
    </br> 
<style> 
* {
      box-sizing: border-box;
    }

    label
    {
      font-size: 25px;
    }
    
    #orderSearchInput {
      background-image: url('/css/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
    
    #orderTable, #CommentsTable, #ProductsTable, #CardTable {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
      font-size: 18px;
      margin-bottom: 30px;
    }
    
    #orderTable th, #orderTable td, #ProductsTable th, #ProductsTable td, #CardTable th, #CardTable td, #CommentsTable th, #CommentsTable td {
      text-align: center;
      padding: 12px;
    }

    #orderTable td
    {
      width: 500px;
    }

    #orderTable tr {
      border-bottom: 1px solid #ddd;
    }
    
    #orderTable tr.header, #orderTable tr:hover {
      background-color: #f1f1f1;
    }

    button{
      font-family: 'Karla', sans-serif;
      background-color: #150131 !important;
      border: none;
      color: white !important;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      margin: 4px 4px 4px 4px;
      cursor: pointer;
      border-radius: 20px;
     }
    </style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

  let orderIdValue = '';
    $('table#orderTable td:first-child').each(function() { 
     orderIdValue = $(this).text();
     return;
    });
  $('#confirmOrder').click(function() {   
    
    const button = document.getElementById('confirmOrder');  
    const commentsValue = document.getElementById('orderComments').value;        
      $.ajax({
      type: "POST",
      url: window.location.origin + '/orders/postOrder',
      data: {orderId: orderIdValue, comment: commentsValue},
      cache: false,
      success: function (result) {
        alert('Comments added for order ' + orderIdValue);
        setTimeout(function(){ window.location.reload() }, 1000);       
        
      },
      error:function (error) {
          alert("error, please login again");
          window.location.href = window.location.origin + '/login';
      }
     
  //   $.post(window.location.origin + '/orders/postOrder', {orderId: $(this).text(),comment: 'sad'}
  //   , function(result){
  //     console.log('Completed!', commentsValue);
  //     alert('Comments added for order ' + $(this).text())
  // });
    // const response = await fetch(window.location.origin + '/orders/postOrder', {
    //   method: 'post',
    //   body: {
    //     orderId: $(this).text(),
    //     comments: commentsValue
    //   }
    // });
  });
});

$("#cboxCard").change(function() {
  $.ajax({
      type: "POST",
      url: window.location.origin + '/orders/postWrittenCard',
      data: {orderId: orderIdValue, isCardWritten: this.checked},
      cache: false,
      success: function (result) {
          alert('card updated for order ' + orderIdValue);
          setTimeout(function(){ window.location.reload() }, 1000);      
      },
      error:function (error) {
          alert("error, please login again");
          window.location.href = window.location.origin + '/login';
      }
      });
  });

  $("#cboxFullfilled").change(function() {
  $.ajax({
      type: "POST",
      url: window.location.origin + '/orders/postFullfilledBox',
      data: {orderId: orderIdValue, isFullfilled: this.checked},
      cache: false,
      success: function (result) {
          alert('box fullfillment updated for order ' + orderIdValue); 
          setTimeout(function(){ window.location.reload() }, 1000);       
      },
      error:function (error) {
          alert("error, please login again");
          window.location.href = window.location.origin + '/login';
      }
      });
  });

$('#getComments').click(function(e) {  
  e.preventDefault();
  let orderIdValue = '';
  $('td:first-child').each(function() { 
     orderIdValue = $(this).text();
  });
  window.location.href = '/orders/GetComments/' + orderIdValue;
});
</script>
