
<table id="orderTable" class="table table-inverse">
    <thead>
      <tr>
        <th>order name</th>
        <th>id</th> 
        <th>name</th>     
        <th>description</th>       
        <th>customer email</th>
      </tr>
    </thead>
  
    <tbody>
      <% for(var i=0; i < orderReportList.length; i++) { %>
        <% var properties = ''  %>
        <% for(var j=0; j < orderReportList[i].line_items[0].properties.length; j++) { %>
          <%  properties += orderReportList[i].line_items[0].properties[j].value + ' '  %>
          <% } %>
      <tr>
        <td><a href=""><%= orderReportList[i].name %></a></td>
        <td><%= orderReportList[i].id %>&nbsp; &nbsp; &nbsp; </td>
        <td><%= orderReportList[i].line_items[0].title %> &nbsp; &nbsp; &nbsp; </td>
        <td><%= properties %> &nbsp; &nbsp; &nbsp; </td>
        <td><%= orderReportList[i].customer.email %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
      </br>
    <form action="/orders/GetOrders" method="GET">
      <button type="submit" class="btn btn-primary btn-block">Return</button>       
  </form>
  <style> 
  * {
        box-sizing: border-box;
      }
      
      #orderSearchInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
      }
      
      #orderTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
      }
      
      #orderTable th, #orderTable td {
        text-align: left;
        padding: 12px;
      }
      
      #orderTable tr {
        border-bottom: 1px solid #ddd;
      }
      
      #orderTable tr.header, #orderTable tr:hover {
        background-color: #f1f1f1;
      }
  
      button{
        font-family: 'Karla', sans-serif;
        background-color: #150131 !important;
        border: none;
        color: white !important;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        margin: 4px 4px 4px 4px;
        cursor: pointer;
        border-radius: 20px;
       }
      </style>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
  
  </script>
  